SECRET_KEY=cambia_esto_por_una_clave_aleatoria_larga

# PostgreSQL
DB_HOST=localhost
DB_NAME=asilo_db
DB_USER=equipo5proyfin
DB_PASSWORD=tu_password_postgres
DB_PORT=5432

# Flask
FLASK_DEBUG=False
LOG_LEVEL=INFO

# Seguridad
WTF_CSRF_ENABLED=True
WTF_CSRF_SSL_STRICT=False

# API key para dispositivos IoT externos (Traccar, beacons)
IOT_API_KEY=cambia_esta_api_key

# MongoDB
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=eldercare_nosql
